.letra-blanca{
    color:azure;
}
.letra-gris{
    color:grey;
}
.letra-verde{
    color:green;
}
.texto-centrado{
    text-align: center;
}
.negrita{
    font-weight: bold;
    font-size: x-large;
}
.padre{
    position: relative;
    display: inline-block;
}
.texto-de-imagen{
    text-align: right;
    color: white;
    position: absolute;
    top: 10rem;
    right: 3rem;
    width: 25rem;
    
}
#foto-principal{
    filter: brightness(70%);
}
.boton-carta-js{
    font-weight: bold;
    font-size: 0.7rem;
    padding: 0.1rem;
}
.boton-carta-react{
    color: white;
    font-size: 0.7rem;
    padding: 0.1rem;
}
.fila-cartas{
    justify-content: center;

}
.boton-carta-ada{
    color: white;
    font-size: 0.7rem;
    padding: 0.1rem;
}
input{
    width: 15rem;
}
